.input-container{
    display: flex;
    justify-content: center;
    margin: 1% 4%;
}
.input-field{
    width: 40vw;
    height: 5vh;
    z-index: 1;
    color: white;
    padding: 1%;
    background-color: #343434;
    border-color: #343434;
}
.input-field:hover{
    transform: scale(1.01,1.01);
}