.column-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1% 4%;
    border: 1px gray solid;
    text-align: center;
    border-radius: 1%;
    width: 35vw;
    height: 78vh;
    background-color: #1c2c39;
    overflow: scroll;
    box-shadow: 1px 1px 5px 5px #424141;
    animation: entry 1s linear;
}
.column-container:hover{
    transform: scale(1.007, 1.007);
}
.column-title-container:hover{
    box-shadow: 1px 1px 5px 5px #424141;
}
.column-title-container{
    position: absolute;
    width: 40%;
    margin-top: 1%;
    color: #6996cf;
    background-color: #252c30;
    border: 1px gray solid;
    border-radius: 50%;
}
.column-elements{
    position: absolute;
    top: 17%;
    font-size: larger;
    left: 10%;
    color: #ffffff;
    text-align: left;
    height: 63vh;
    overflow: inherit;
}
@keyframes entry {
    0%{
        top: -50%;
    }
    50%{
        top: -25%;
    }
    100%{
        top: 0
    }
}